* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

:root {
    --background: #14110F;
    --text: #f3f3f4;

    font-family: 'Roboto', sans-serif;
}

header {
    height: 75px;
    background-color: var(--background);
    color: var(--text);
}

body {
    min-height: 100svh;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

footer {
    height: 50px;
    background-color: var(--background);
    color: var(--text);
}

#root {
    display: flex;
    justify-content: space-evenly;

}

form {
    margin-top: 2px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
}